.contact {
  max-width: 980px;
  margin: 50px auto 200px;
  .large-text {
    font-family: Nova;
    font-size: 30px;
    padding-top: 20px;
    width: 290px;

    .large-border {
      border-top: 2px solid black;
      max-width: 60px;
      height: 20px;
      margin-top: -20px;
    }
  }

  .top-contact {
    min-height: 442px;
    //background-color: cadetblue;
    margin-top: 30px;
    display: flex;
    .image {
      width: 400px;
      background-image: url(../images/map.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .form {
      width: 529px;
      .slender-input {
        height: 60px;
        background-color: #f5f5f5;
        margin-bottom: 21px;
        p {
          padding-top: 20px;
          padding-left: 20px;
          font-family: Gill;
          font-size: 16px;
          color: #707070;
        }
      }
      .fat-input {
        height: 199px;
        background-color: #f5f5f5;
        margin-bottom: 21px;
        p {
          padding-top: 20px;
          padding-left: 20px;
          font-family: Gill;
          font-size: 16px;
          color: #707070;
        }
      }
    }
  }

  .bottom-contact {
    margin-top: 20px;
    //background-color: chocolate;
    display: flex;
    font-family: Gill;
    .contact-info {
      font-size: 18px;
      width: 400px;
    }
    .message-holder {
      //background-color: cyan;
      .send-message {
        background-color: $site-blue;
        width: 167px;
        height: 60px;
        margin-left: 30px;
        font-size: 16px;
        color: $white;
        text-align: center;
        padding-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1060px) {
  .top-contact {
    flex-direction: column;
    .image {
      margin: 0 auto 20px;
      // margin-left: 290px;
      // margin-bottom: 20px;
      height: 442px;
    }
  }
  .bottom-contact {
    //background-color: crimson;
    // margin-left: 290px;
    flex-direction: column;
    .contact-info {
      margin: 0 auto 20px;
      //background-color: chocolate;
      text-align: center;
    }
    .message-holder {
      margin: 0 auto 20px;
    }
  }
}
